<div class="jumbotron contacttron">

</div>

<div class="container">
<header class="text-center">
  <h1>Contact</h1>
</header>
<hr>
</div>
<br><br>

<div class="container">
  <div class="row">
    <div class="col-lg-4  text-center">
      <div class="custom-circle" style="margin-right:auto;margin-left:auto;">
        <div class="env-marg">
          <i class="fa fa-phone fa-5x" style="color:white;"></i>
        </div>

      </div>
      <p></p>
      <!-- <h2>Heading</h2> -->
      <div class="container">
        <h2>Phone</h2>
        <h3>207-284-5894</h3>

      </div>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4  text-center">
      <div class="custom-circle" style="margin-right:auto;margin-left:auto;">
        <div class="env-marg">
          <i class="fa fa-envelope fa-5x" style="color:white;"></i>
        </div>

      </div>
      <p></p>
      <!-- <h2>Heading</h2> -->
      <div class="container">
        <h2>Email</h2>
        <h3>sales@spurwinkcordage.com</h3>

      </div>
    </div>
    <div class="col-lg-4  text-center">
      <div class="custom-circle" style="margin-right:auto;margin-left:auto;">
        <div class="env-marg">
          <i class="fa fa-fax fa-5x" style="color:white;"></i>
        </div>

      </div>
      <p></p>
      <!-- <h2>Heading</h2> -->
      <div class="container">
        <h2>Fax</h2>
        <h3>207-282-0296</h3>

      </div>
    </div>
  </div>
</div>
<br><br><br>
<hr>
