.cordline{
  border: 2px solid black;
  border-radius: 39px;
  /* width:840px;
  height:420px; */
}

@media (max-width: 992px) {
  .cordline{
    border: 2px solid black;
    border-radius: 39px;
    width: 100% !important;
    height: 100% !important;
  }
}
