<div class="jumbotron cord" style="">

</div>

<div class="text-center">
  <h1>Cinch Cord</h1>
</div>
<hr>
<br>

<div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4" id="mohair">
            <img class="rounded-circle" src="../../../assets/img/mohair_roll.jpg" alt="Generic placeholder image" width="350" height="350">
            <div class="text-center">
              <br>
              <h2>100% Mohair Cinch Cord</h2>
            </div>
            
            <div class="" style="margin-left:29%;">
              <ul>
                <li>8-ply cinch cord</li>
                <li>50 lb rolls</li>
                <li>13 lb tubes</li>
                <li>Natural and dyed options</li>
              </ul>
            </div>





            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4" id="alpaca">
            <img class="rounded-circle" src="../../../assets/img/alpaca_cord_3.JPG" alt="Generic placeholder image" width="350" height="350">
            <div class="text-center">
              <br>
              <h2>100% Alpaca Cinch Cord</h2>

            </div>
            <div class="" style="margin-left:29%;">
              <ul>
                <li>8-ply cinch cord</li>
                <li>50 lb rolls</li>
                <li>13 lb tubes</li>
                <li>Natural colors</li>
              </ul>
            </div>

            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4" id="blends">
            <img class="rounded-circle" src="../../../assets/img/blend_cord_square.jpg" alt="Generic placeholder image" width="350" height="350">
            <div class="text-center">
              <br>
              <h2>Blends</h2>

            </div>
            <div class="" style="margin-left:29%;">
              <ul>
                <li>Poly Rayon</li>
                <li>Wool</li>
                <li>Mohair</li>
                <li>Alpaca</li>
              </ul>
            </div>

            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->



</div>
<br><br>
  <div class="container">
    <h2 class="text-center">Colors</h2>
    <hr>
    <div class="text-center">
      <img class="cordline" src="../../../assets/img/cord_tubes_line.jpg" alt="Generic placeholder image" width="840" height="250">
    </div>
    <hr>
    <br><br>

    <div class="row">
      <div class="lead col-md-3 offset-md-3">

        <ul>
          <li>Black</li>
          <li>Biscuit Brown</li>
          <li>Chocolate Brown</li>
          <li>Brown</li>
          <li>Rust</li>
          <li>Hunter Green</li>
          <li>Maroon</li>
          <li>Red</li>
          <li>Lt. Grey</li>
          <li>Med. Grey</li>

        </ul>

      </div>
      <div class="lead col-md-5 offset-md-1">

        <ul>
          <li>Plum</li>
          <li>Purple</li>
          <li>Turquoise</li>
          <li>Royal Blue</li>
          <li>Teal Blue</li>
          <li>Lime Green</li>
          <li>Orange</li>
          <li>Pink</li>
        </ul>
      </div>
    </div>
  </div>
